<div class="bordr-end border-warning h-100">
  <div class="text-center">
    <img src="images/girl.jpg" alt="" class="img-fluid rounded-circle mt-5" />
    <h3 class="text-green mt-3 st-font">VIKAS KUMAR</h3>
  </div>
  <nav class="nav flex-column text-center mt-4">
    <a href="/" class="nav-link <% if (page_name == 'Home'){%> active <% } %>"
      >Home</a
    >

    <a
      href="/services"
      class="nav-link <% if(page_name == 'Services'){%> active <% } %>"
      >Services</a
    >
    <a
      href="/skill"
      class="nav-link <% if(page_name == 'Skill'){%> active <% } %>"
      >Skill</a
    >
    <a
      href="/contact"
      class="nav-link <% if(page_name == 'Contact'){%> active <% } %>"
      >Contact</a
    >
  </nav>
</div>
