<%- include('./partials/header.ejs') %>
<div class="contaier-bg-dark">
    <div class="row">
      <div class="col-sm-2">
          <%- include('./partials/sidebar.ejs',{page_name :'Home'}) %>
      </div>
      <div class="col-sm-10">
<!-- main contnt -->
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs') %>

<%- include('./partials/footer.ejs') %>
