<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!---------------- step 9A -------------------->
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <h1>Home page</h1>
    <h1>This is homepage Home page</h1>
    
    <img src="https://source.unsplash.com/500x700/?tech" alt="img not available" />
    <img src="static/images/flower.jpg" alt="img not available" />
    <script src="js/alert.js"></script>
  </body>
</html>
