<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!---------------- step 9A -------------------->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>Home page</h1>
    <h1>This is homepage Home page</h1>
    <img src="images/BABY.JPG" alt="img not available" />
    <img src="images/girl.JPG" alt="img not available" />
    <img src="images/converse.JPG" alt="img not available" />
    <img src="images/coffee.gif" alt="img not available" />
 
    <img src="/god.jpg" alt="img not available" />
<br>
    <audio controls>
      <source src="images/relaxing.mp3" />
      Your browser does not support the html audio tag.
    </audio>
<br>
    <video width="360" height="360" controls>
      <source src="images/tunnel.mp4" type="video/mp4" />
      <br>
      <source src="images/composition.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <video width="360" height="360" controls>
        
        <source src="images/composition.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>


    <script src="js/alert.js"></script>
  </body>
</html>
