.st_font {
  font-family: "Satisfy", cursive;
}
html,
body {
  height: 100%;
}
.container-fluid {
  min-height: 100%;
}

/* service icon colour */
.i-colour {
  color: chartreuse;
}
/*------------- service subtitle colour -----*/
.ss-color {
  color: silver;
}
/* --------sidebar---------change whitesmoke -- */
a.nav-link {
  color: rgb(170, 14, 14);
}

a.nav-link:hover {
  color: black;
  background-color: #e9cd79;
}
a.nav-link:active {
  color: black;
  background-color: #ffc107;
  font-weight: bold;
}
